In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/events.csv')

In [3]:
df = df.dropna(subset=['transactionid'])

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')
df['transactionid'] = df['transactionid'].astype(int)

In [5]:
df.sample(n=10)

                      timestamp  visitorid        event  itemid  transactionid
2011386 2015-05-29 20:22:41.754     109357  transaction  120098          14786
670037  2015-08-05 02:30:45.624     152963  transaction   11621          15589
2065503 2015-07-01 17:07:28.710     248679  transaction  175859           3921
836229  2015-08-14 02:18:01.857     917853  transaction  159792           8714
754782  2015-08-09 01:53:24.533    1360314  transaction   19972           5569
2715766 2015-07-29 16:24:22.825    1293358  transaction   48030          17338
2516487 2015-07-21 19:03:43.512     757355  transaction  443190          15201
1055700 2015-08-26 04:40:52.146     317190  transaction  422329           8372
1706100 2015-05-15 19:04:53.736    1316368  transaction   93556           9243
1563036 2015-05-07 14:16:13.261     949876  transaction  221246          15460

In [14]:
df['transactionid'].describe()

count    22457.000000
mean      8826.497796
std       5098.996290
min          0.000000
25%       4411.000000
50%       8813.000000
75%      13224.000000
max      17671.000000
Name: transactionid, dtype: float64

In [6]:
df['transactionid'].value_counts()

7063     31
765      28
8351     27
2753     23
6993     21
2110     20
11927    17
17211    17
Name: transactionid, dtype: int64

In [9]:
df['timestamp'].describe()

count                          22457
unique                         20362
top       2015-05-21 17:40:49.621000
freq                               6
first     2015-05-03 03:27:21.391000
last      2015-09-18 02:43:12.017000
Name: timestamp, dtype: object

In [10]:
len(df['itemid'].unique())

12025

In [15]:
df['itemid'].value_counts()

461686    133
119736     97
213834     92
312728     46
7943       46
445351     45
48030      41
248455     38
420960     38
17478      37
409804     35
320130     33
416017     32
369447     31
46156      31
268883     29
334401     28
257040     27
441852     27
9877       25
37029      25
546        23
318333     23
450082     22
190000     20
138427     20
222888     20
10572      19
46232      19
369158     19
         ...
316243      1
174426      1
164681      1
318274      1
222069      1
119603      1
109356      1
326268      1
164649      1
339881      1
121634      1
238445      1
62327       1
324757      1
426619      1
46031       1
459721      1
340927      1
310206      1
129974      1
279473      1
60908       1
142204      1
388004      1
200537      1
457622      1
324946      1
299915      1
97158       1
329729      1
Name: itemid, Length: 12025, dtype: int64

In [16]:
df['itemid'].value_counts().describe()

count    12025.000000
mean         1.867526
std          2.710560
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        133.000000
Name: itemid, dtype: float64